/**
* Palette
*/

/*--------------------------------------------------------------
# HTML
--------------------------------------------------------------*/

$white: #fff;
$blue1: #00AEDD;
$blue2: #0074D0;
$blue3: #001A3F;
$primary: #FF4D1A;
$secondary: #0FB36D;

/*--------------------------------------------------------------
# Transparencies
--------------------------------------------------------------*/

$blue3-rgba70: rgba(0, 26, 63, 0.7);
$blue3-rgba85: rgba(0, 26, 63, 0.85);
